In [30]:
print("Mano tengo fe!")

Mano tengo fe!

#### Clases de python
* variables
* operadores matematicos
* operadores de comparacion
* operadores logicos
* condicionales
- prueba 1

Este es el contenido de la primera clase

### Variables

In [31]:
name = "josefino" # cadena de caracteres / string

In [32]:
Name = 'ruperto'

In [33]:
ln = 'segundo' # mala practica
last_name = "primera" 
LastName = "primero"
# last-name = "primera"
last.name = "primera"
LASTname = "primera"

NameError: name 'last' is not defined

In [ ]:
# asinacion de variables
number_1 = 22
number_2 = 10

# operaciones
sum_result = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

In [ ]:
# resultados
print(sum_result)
print(substract)
print(multi)
print(div)

32
12
220
2.2

In [ ]:
# resultados comentados
print("resultado de la suma es:", sum_result)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion es: {multi}")
print(f"resultado de la division es: {div}")

resultado de la suma es: 32
resultado de la resta es: 12
resultado de la multiplicacion es: 220
resultado de la division es: 2.2

In [ ]:
# tipos de datos en python
print(type(last_name))
print(type(number_1))
print(type(div))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# ingreso de datos por teclado
# asignacion de variables
number_1 = input("ingrese number_1: ")
number_1 = float(number_1)

number_2 = input("ingrese number_2: ")
number_2 = float(number_2)

# operaciones
sum_result = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

# resultados comentados
print("resultado de la suma es:", sum_result)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion es: {multi}")
print(f"resultado de la division es: {div}")

resultado de la suma es: 34.0
resultado de la resta es: -13.0
resultado de la multiplicacion es: 246.75
resultado de la division es: 0.44680851063829785

In [ ]:
name_1 = input("nombre: ")
print("Hola", name_1)
type(name_1)

Hola 22

str

In [ ]:
# Listas
# int
# float
# strings
#

list_1 = [ "jose", "maria", "juan", "ruperto", 12, 14, 15, 90.5, 78.8 ]

In [ ]:
list_1

['jose', 'maria', 'juan', 'ruperto', 12, 14, 15, 90.5, 78.8]

In [ ]:
# [start:stop]
names_list = list_1[0:4]

In [ ]:
integers_list = list_1[4:7]

In [ ]:
float_list = list_1[7:]

In [ ]:
# append: agrega elementos a la lista
float_list.append(55.5)

In [ ]:
float_list

[90.5, 78.8, 55.5]

In [ ]:
# clear: borra los elementos de la lista
integers_list.clear()

In [ ]:
integers_list

[]

In [ ]:
# copy: copia la lista original
names_list_2 = names_list.copy()

In [ ]:
names_list_2

['jose', 'maria', 'juan', 'ruperto']

In [ ]:
names_list

['jose', 'maria', 'juan', 'ruperto']

In [ ]:
# len: permite contar los elementos de la lista
len(names_list)

4

### Condicionales

In [ ]:
# sintaxis de un condicional simple
# if condicion:
    #operacion
# condicion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# diferente != 
# igual? ==

In [ ]:
day = input('dia de la semana: ')
if (day == 'lunes'):
    print('Hoy lunes voy a trabajar')
else:
    print('no es lunes')

no es lunes

In [ ]:
# operadores logicos
# and y or
# 
day = input('dia de la semana: ')
momento_day = input('ingrese momento del dia: ')

if (day == 'lunes') and (momento_day == 'noche'):
    print('voy al cine 2x1')
else:
    print('no es lunes')

voy al cine 2x1

In [ ]:
# operadores logicos
# and y or
# 
day = input('dia de la semana: ')
momento_day = input('ingrese momento del dia: ')

if (day == 'lunes') or (momento_day == 'noche'):
    print('veo netflix')
else:
    print('no es lunes')

veo netflix

- tuplas. 
- Diccionarios

In [ ]:
# tuplas
tupla_1 = (1, 2, 3, 4, 5, 6)
tupla_2 = ('a', 'b', 'c', 'd', 'e')

In [ ]:
tupla_1[2]

3

In [ ]:
# diccionarios
dict_1 = {
    'luis': 1234,
    'pedro': 5678,
    'juan': 9012
}

In [ ]:
dict_1['luis']
print( dict_1['juan'] )

9012

In [ ]:
dic_2 = {
    'frutas':'manzanas',
    'numeros':[12, 24, 38],
    'pesos' : [1.5, 2, 3.4],
}

In [ ]:
dic_2['pesos']

[1.5, 2, 3.4]

In [1]:
# ciclos finitos "for"
# sintaxis
# for variable in secuencia:
#    cuerpo del ciclo

# la variable toma los valores de la secuencia en orden
# secuencia: cadena, lista, tupla, conjunto
for number in [1, 2, 3]:
    print(number)

1
2
3

In [2]:
names_list = ["jose", "maria", "jesus"]

In [5]:
for name in names_list:
    if name == 'jose':
        print(f'"{name}" es el papa')
    else:
        print(f'"{name}" no es papa')

"jose" es el papa
"maria" no es papa
"jesus" no es papa

#### Funciones

In [ ]:
# sintaxis de una funcion en python

# def name_function(parameters):
#     """
#     Documentacion de la funcion
#     """
#     # código de la funcion
#     pass

In [ ]:
print("Hello, World!")

In [8]:
# funcion para sumar dos numeros
def suma_dos(number_1, number_2):
    """
    Esta funcion suma dos numeros enteros
    number_1: int
    number_2: int
    return: int
    """
    result = number_1 + number_2
    return result

In [11]:
suma_dos(11, 15)

26

In [12]:
# funcion que reste dos numeros
def resta_dos(number_1, number_2):
    """
    funcion que reste dos numeros
    number_1: int
    number_2: int
    result = number_1 - number_2
    return: int
    """
    result = number_1 - number_2
    return result

In [13]:
resta_dos(23, 20)

3

In [ ]:
resta_dos()

In [15]:
resta_dos(number_2=20, number_1=23)

3