In [2]:
print("Mano tengo fe!")

Mano tengo fe!

#### Clases de python
* variables
* operadores matematicos
* operadores de comparacion
* operadores logicos
* condicionales
- prueba 1

Este es el contenido de la primera clase

### Variables

In [3]:
name = "josefino" # cadena de caracteres / string

In [5]:
Name = 'ruperto'

In [10]:
ln = 'segundo' # mala practica
last_name = "primera" 
LastName = "primero"
# last-name = "primera"
last.name = "primera"
LASTname = "primera"

NameError: name 'last' is not defined

In [19]:
# asinacion de variables
number_1 = 22
number_2 = 10

# operaciones
sum_result = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

In [20]:
# resultados
print(sum_result)
print(substract)
print(multi)
print(div)

32
12
220
2.2

In [27]:
# resultados comentados
print("resultado de la suma es:", sum_result)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion es: {multi}")
print(f"resultado de la division es: {div}")

resultado de la suma es: 32
resultado de la resta es: 12
resultado de la multiplicacion es: 220
resultado de la division es: 2.2

In [31]:
# tipos de datos en python
print(type(last_name))
print(type(number_1))
print(type(div))

<class 'str'>
<class 'int'>
<class 'float'>

In [39]:
# ingreso de datos por teclado
# asignacion de variables
number_1 = input("ingrese number_1: ")
number_1 = float(number_1)

number_2 = input("ingrese number_2: ")
number_2 = float(number_2)

# operaciones
sum_result = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

# resultados comentados
print("resultado de la suma es:", sum_result)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la multiplicacion es: {multi}")
print(f"resultado de la division es: {div}")

resultado de la suma es: 34.0
resultado de la resta es: -13.0
resultado de la multiplicacion es: 246.75
resultado de la division es: 0.44680851063829785

In [35]:
name_1 = input("nombre: ")
print("Hola", name_1)
type(name_1)

Hola 22

str

In [40]:
# Listas
# int
# float
# strings
#

list_1 = [ "jose", "maria", "juan", "ruperto", 12, 14, 15, 90.5, 78.8 ]

In [41]:
list_1

['jose', 'maria', 'juan', 'ruperto', 12, 14, 15, 90.5, 78.8]

In [48]:
# [start:stop]
names_list = list_1[0:4]

In [51]:
integers_list = list_1[4:7]

In [57]:
float_list = list_1[7:]

In [59]:
# append: agrega elementos a la lista
float_list.append(55.5)

In [60]:
float_list

[90.5, 78.8, 55.5]

In [62]:
# clear: borra los elementos de la lista
integers_list.clear()

In [63]:
integers_list

[]

In [64]:
# copy: copia la lista original
names_list_2 = names_list.copy()

In [65]:
names_list_2

['jose', 'maria', 'juan', 'ruperto']

In [66]:
names_list

['jose', 'maria', 'juan', 'ruperto']

In [67]:
# len: permite contar los elementos de la lista
len(names_list)

4

### Condicionales

In [ ]:
# sintaxis de un condicional simple
# if condicion:
    #operacion
# condicion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# diferente != 
# igual? ==

In [70]:
day = input('dia de la semana: ')
if (day == 'lunes'):
    print('Hoy lunes voy a trabajar')
else:
    print('no es lunes')

no es lunes

In [73]:
# operadores logicos
# and y or
# 
day = input('dia de la semana: ')
momento_day = input('ingrese momento del dia: ')

if (day == 'lunes') and (momento_day == 'noche'):
    print('voy al cine 2x1')
else:
    print('no es lunes')

voy al cine 2x1

In [76]:
# operadores logicos
# and y or
# 
day = input('dia de la semana: ')
momento_day = input('ingrese momento del dia: ')

if (day == 'lunes') or (momento_day == 'noche'):
    print('veo netflix')
else:
    print('no es lunes')

veo netflix